body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.gallery {
  display: flex;
  gap: 20px;
}

.gallery-item {
  width: 150px;
  cursor: pointer;
  border: 3px solid #333;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.gallery-item:hover {
  transform: scale(1.05);
}

/* Lightbox styles */
.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1000;
}


#lightbox-image {
  max-width: 90%;
  max-height: 80%;
  border: 5px solid #fff;
  border-radius: 10px;
}

#close-btn {
  background: transparent;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  margin-bottom: 20px;
}